/* Adwaita-style Title Pill for Baseline Theme */

.workspace-split.mod-root .view-header-title-container {
    background-color: var(--background-secondary); 
    border: 1px solid var(--background-secondary); 
    border-radius: 8px; 
    padding: 0px 12px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.workspace-split.mod-root .view-header-title {
    flex-grow: 0; 
}
