/* Adwaita-style Title Pill for Baseline Theme */

.workspace-split.mod-root .view-header-title-container {
    background-color: var(--background-modifier-hover); 
    border: 1px solid var(--background-modifier-border); 
    border-radius: 8px; 
    padding: 0px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.workspace-split.mod-root .view-header-title {
    flex-grow: 0; 
}
